

# OSX
#
.DS_Store

beangotown/.DS_Store
beangotown/android/.gradle/
beangotown/android/.idea/
beangotown/android/local.properties
**/node_modules/**

.idea
.eslintcache
.idea

.vscode

ignore/
**/*.zip

coverage

# iOS
*.xcuserstate  
/**/xcuserdata/**
/**/Pods/**
Pods/
Pods
/**/*.apk
/**/output-metadata.json

/**/*.bundle
/**/.expo


.env
output/
dist/
postinstall.log

**/release-key.keystore

**/appcenter-config.json
